<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Result</title>
</head>
<body>
    <div class="container justify-content-center mt-5" style="margin-bottom: 80%;">
         <h1>Result >> <span class="text-mute"> <%= searchQuery %></span></h1>
        <h4 class="text-danger">Cannot get result at the moment please check your internet connection</h4>
        <a href="/" class="btn btn-danger">Back</a>
    </div>
    <div class="text-center footer">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <p class="card-title">
                    Built using Nodejs, EJS and the Movie DB API
                </p>
                <hr class="bg-white">
                copyright @Theodore Kelechukwu Onyejiaku
            </div>
        </div>
    </div>   
</body>
</html>